# Node
node_modules/
.pnp/
.pnpm-debug.log

# Build output
dist/
build/
coverage/

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
.env.test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker
docker-compose.override.yml
**/Dockerfile.*

# Misc
*.log

packages/db/prisma
packages/db/chrome